@use "utils" as *;
@use "variables" as *;

body {
  font-family: var(--ff-main), sans-serif;
  font-size: var(--fs-4);
  font-weight: var(--fw-normal);
  line-height: var(--lh-2);

  background-color: var(--clr-tint);
}

.page {
  margin-inline: auto;
  max-width: var(--container-width);
  min-height: 100vh;
  background-image: url("./assets/images/background-pattern-mobile.svg");
  background-repeat: no-repeat;
  background-position: top;

  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: var(--sp-6);

  @media (min-width: $bp-tablet) {
    background-image: url("./assets/images/background-pattern-desktop.svg");
  }
}
