@use "utils" as *;
@use "variables" as *;

.question {
  position: relative;

  padding-block: var(--sp-5);

  &:not(:last-child) {
    border-bottom: 1px solid var(--clr-tint);
  }
}

.question-icon {
  width: 30px;
  height: 30px;
  background-image: url("../assets/images/icon-plus.svg");
  flex-shrink: 0;
}

input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;

  &:checked + .question-label {
    .question-icon {
      background-image: url("../assets/images/icon-minus.svg");
    }
  }

  &:checked ~ .question-answer {
    height: var(--answer-height);
  }

  &:focus-visible ~ .question-label {
    outline: 1px solid var(--clr-shade);
  }
}

.question-label {
  display: flex;
  justify-content: space-between;
  gap: var(--sp-1);
  align-items: center;

  cursor: pointer;
}

.question-text {
  line-height: var(--lh-1);

  @media (min-width: $bp-desktop) {
    font-size: var(--fs-5);
  }
}

.question-answer {
  height: 0;
  overflow: hidden;
  transition: height 0.2s ease-out;
}

.answer {
  color: var(--clr-primary);
  font-weight: var(--fw-thin);
  font-size: var(--fs-3);

  padding-block-start: var(--sp-5);

  @media (min-width: $bp-desktop) {
    font-size: var(--fs-4);
  }
}
