:root {
  --clr-primary: hsl(292, 16%, 49%);
  --clr-shade: hsl(292, 42%, 14%);
  --clr-tint: hsl(275, 100%, 97%);
  --clr-white: hsl(0, 100%, 100%);
  --ff-main: "Work Sans";
  --fw-thin: 400;
  --fw-normal: 600;
  --fw-bold: 700;
  --fs-1: 0.625rem;
  --fs-2: 0.75rem;
  --fs-3: 0.875rem;
  --fs-4: 1rem;
  --fs-5: 1.125rem;
  --fs-6: 1.25rem;
  --fs-7: 1.5rem;
  --fs-8: 1.875rem;
  --fs-9: 2.25rem;
  --fs-10: 2.75rem;
  --fs-11: 3.25rem;
  --fs-12: 3.875rem;
  --fs-13: 4.625rem;
  --fs-14: 5.375rem;
  --fs-15: 6.125rem;
  --sp-1: 0.125rem;
  --sp-2: 0.25rem;
  --sp-3: 0.5rem;
  --sp-4: 0.75rem;
  --sp-5: 1rem;
  --sp-6: 1.5rem;
  --sp-7: 2rem;
  --sp-8: 3rem;
  --sp-9: 4rem;
  --sp-10: 5rem;
  --sp-11: 6rem;
  --sp-12: 8rem;
  --br-1: 0.625rem;
  --bs-1: 0 0 10px rgba(0, 0, 0, 0.1);
  --lh-1: 1.2;
  --lh-2: 1.4;
  --container-width: 23.4375rem;
  --answer-height: 8.125rem;
  --card-max-size: 37.5rem;
}

@media (min-width: 23.4375rem) {
  :root {
    --container-width: 90rem;
  }
}
@media (min-width: 37.5rem) {
  :root {
    --answer-height: 5rem;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
td,
th,
button {
  font-weight: inherit;
  font-size: inherit;
}

img {
  max-width: 100%;
  display: block;
}

body {
  font-family: var(--ff-main), sans-serif;
  font-size: var(--fs-4);
  font-weight: var(--fw-normal);
  line-height: var(--lh-2);
  background-color: var(--clr-tint);
}

.page {
  margin-inline: auto;
  max-width: var(--container-width);
  min-height: 100vh;
  background-image: url("./assets/images/background-pattern-mobile.svg");
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: var(--sp-6);
}
@media (min-width: 23.4375rem) {
  .page {
    background-image: url("./assets/images/background-pattern-desktop.svg");
  }
}

.card {
  max-width: min(90%, var(--card-max-size));
  background-color: var(--clr-white);
  border-radius: var(--br-1);
  box-shadow: var(--bs-1);
  padding: var(--sp-6);
}

.header {
  display: flex;
  align-items: center;
  gap: var(--sp-5);
  margin-block-end: var(--sp-5);
}

.header-icon {
  width: 25px;
}

.header-title {
  font-size: var(--fs-9);
  font-weight: var(--fw-bold);
  line-height: 0;
}

.question {
  position: relative;
  padding-block: var(--sp-5);
}
.question:not(:last-child) {
  border-bottom: 1px solid var(--clr-tint);
}

.question-icon {
  width: 30px;
  height: 30px;
  background-image: url("../assets/images/icon-plus.svg");
  flex-shrink: 0;
}

input {
  opacity: 0;
  position: absolute;
}
input:checked + .question-label .question-icon {
  background-image: url("../assets/images/icon-minus.svg");
}
input:checked ~ .question-answer {
  height: var(--answer-height);
}

.question-label {
  display: flex;
  justify-content: space-between;
  gap: var(--sp-1);
  align-items: center;
  cursor: pointer;
}

.question-text {
  line-height: var(--lh-1);
}

.question-answer {
  height: 0;
  overflow: hidden;
  transition: height 0.2s ease-out;
}

.answer {
  color: var(--clr-primary);
  font-weight: var(--fw-thin);
  font-size: var(--fs-3);
  padding-block-start: var(--sp-5);
}

/*# sourceMappingURL=styles.css.map */
